<%= form_for(@todo) do |f| %>
  <% if @todo.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
